/Tareas/Tarea 1 (Tres en raya)/RayanConsola/nbproject/private/
/Tareas/Tarea 1 (Tres en raya)/RayanConsola/build/
/Tareas/Tarea 1 (Tres en raya)/RayaGrafica/nbproject/private/
/Tareas/Tarea 1 (Tres en raya)/RayaGrafica/build/
/Tareas en clase/SocketsUDP/nbproject/private/
/Tareas en clase/SocketsUDP/build/
/Tareas en clase/SocketsTCP/nbproject/private/
/Tareas en clase/SocketsTCP/build/
/Tareas en clase/RayaSocketTCP/nbproject/private/
/Tareas en clase/SocketMutihilo/nbproject/private/
/Tareas en clase/SocketMutihilo/build/
/Tareas en clase/OperacionesRMI/nbproject/private/
/Tareas en clase/Tarea en clase 2/nbproject/private/
/Tareas/Tarea 2 (Sockets Multihilo)/Multihilos/nbproject/private/
/Tareas/Tarea 2 (Sockets Multihilo)/Multihilos/build/
/Tareas en clase/Tarea en clase 3/nbproject/private/
/Tareas en clase/Tarea en clase 3/build/
