/Tareas/Tarea 1 (Tres en raya)/RayanConsola/nbproject/private/
/Tareas/Tarea 1 (Tres en raya)/RayanConsola/build/
/Tareas/Tarea 1 (Tres en raya)/RayaGrafica/nbproject/private/
/Tareas/Tarea 1 (Tres en raya)/RayaGrafica/build/
/Tareas en clase/SocketsUDP/nbproject/private/
/Tareas en clase/SocketsUDP/build/
/Tareas en clase/SocketsTCP/nbproject/private/
/Tareas en clase/SocketsTCP/build/
