<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VentasSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63650/Ventas.asmx" binding="basicHttpBinding"
                bindingConfiguration="VentasSoap" contract="CotizacionService.VentasSoap"
                name="VentasSoap" />
        </client>
    </system.serviceModel>
</configuration>